
  <p class="my-5">
    <strong class="block font-medium mb-1">Type:</strong>
    <%= alert.type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= alert.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Tag:</strong>
    <%= alert.tag %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= alert.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Origin:</strong>
    <%= alert.origin %>
  </p>
