<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto mb-32 mt-10 w-4/5">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @alert %>

    <% if can? :update, @alert %>
      <%= link_to 'Edit this alert', edit_alert_path(@alert), class: "mt-2 rounded-lg py-3 px-5 bg-orange-400 inline-block font-medium" %>
    <% end %>
    <% if can? :destroy, @alert %>
      <div class="inline-block ml-2">
        <%= button_to 'Destroy this alert', alert_path(@alert), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-orange-400 font-medium" %>
      </div>
    <% end %>
    <%= link_to 'Back to alerts', alerts_path, class: "ml-2 rounded-lg py-3 px-5 bg-orange-400 inline-block font-medium" %>
  </div>
</div>
